.movie {
  height: 539px;
  width: 324px;
  margin-top: 36px;
}

.movie-poster {
  height: 455px;
  width: 324px;
  background-color: silver;
}

.movie-poster img{
  height: 100%;
  width: 100%;
}

.movie-filmname{
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.movie-filmname div:first-child {
  height: 22px;
  width: 232px;
  opacity: 0.7;
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
}

.movie-filmname div:last-child {
  color: white;
  border: 1px solid #979797;
  width: 66px;
  height: 26px;
  opacity: 0.5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
}

.movie-gengre {
  margin-top: 8px;
  height: 18px;
  width: 323px;
  opacity: 0.5;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}