{
    "presets":[
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ],
      "@babel/react"
    ],

    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "@root": "./src"
          }
        }
      ],
      "babel-plugin-styled-components"
    ]
}