.container {
  margin-top: 37px;
  margin-left: 60px;
  margin-right: 129px;
  display: flex;
}

.image {
  width: 279px;
  height: 394px;
  box-shadow: 0 2px 34px 0 rgba(0,0,0,0.5);
  z-index: 1;
}

.image img {
  width: 100%;
  height: 100%;
}

.description {
  margin-left: 60px;
}

.nameRating {
  background-color: black;
  margin-top: 29px;
  padding: 0;
  display: flex;
}

.nameRating span:first-child{
  opacity: 0.8;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 52px;
  letter-spacing: 0;
  line-height: 63px;
}

.nameRating span:last-child {
  box-sizing: border-box;
  height: 69px;
  width: 69px;
  opacity: 0.8;
  color: #A1E66F;
  font-family: Montserrat;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
  border: 1px white solid;
  border-radius: 500px;
  margin-left: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shortDescription {
  height: 19px;
  width: 232px;
  opacity: 0.7;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
}

.yearDuration {
  margin-top: 28px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.beautify{
  height: 32px;
  width: 64px;
  color: #F65261;
  font-family: Montserrat;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 32px;
}

.beautify:last-of-type{
  margin-left: 32px;
}

.text {
  margin-top: 23px;
  width: 672px;
  height: 132px;
  overflow-y: auto;
}

.text p{
  opacity: 0.8;
  color: white;
  font-family: Open Sans;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22px;
}