.description {
  color: white;
  background-color: black;
  width: 1200px;
  height: 546px;
  background-image: url(https://avatars.mds.yandex.net/get-pdb/1792436/ad89a1a5-b947-49f3-987c-af320848bbb0/s1200);
}

