.head-netflix-roulette{
  height: 24px;
  width: 151px;
  color: #f65261;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  z-index: 1;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 38px;
}

.head-search-icon {
  z-index: 1;
  background-color: white;
  height: 32px;
  width: 32px;
}

.head-search-icon img{
  width: 100%;
}